# OS/Editor junk
.DS_Store
Thumbs.db
*.swp
.vscode/
.idea/

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfstate.*
*.tfvars
localstack_providers_override.tf

# Environment/Secrets
.env
.env.*

# Docker & Monitoring Data
docker-compose.override.yml
grafana/data/
prometheus/data/
**/target/

# Logs
*.log

